
<div class=''>
	<% if current_user && current_user.admin?%>
		Merge articles
		<%= form_tag merge_path(@article) do %>
	    <div class='separator'>
	      <h4><%= _("Merge Articles") %></h4>
	      <div class=''>
			  <label for="merge"><%=_("Article ID")%></label>
			  <div class="input">
				  <%= text_field_tag 'merge_with' %>
			  </div>
	        </div>
			<%=submit_tag 'Merge'%>
		<% end %>
	</div>
<% end %>